body {
  border: 1px solid black;
  padding: 40px;
}
main{
  text-align:center;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  margin-bottom: 30px;
  margin-left: -40px;
  margin-right: -40px;
  padding-left: 40px;
  padding-right: 40px;
}
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.finance-card{
  border: 1px solid black;
  border-radius: 8px;
  padding:20px;
  width: 180px;
}
.box{
  border: 1px solid black;
  margin: 20px;
  padding:20px;
}
.summary{
  border: 1px solid black;
  margin: 20px;
  padding:20px;
}